<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>{{v_auth.first_name}} {{v_auth.last_name}}</h1>
        <h3>{{v_auth.id}}</h3>
        <p>Notes: {{v_auth.notes}}</p>
    </div>
    <div>
        <h2>Books</h2>
        {%for book in v_auth.books.all%}
        <p>{{book.title}} <a href="/delete_book_from_auth/{{v_auth.id}}/{{book.id}}">Delete Book</a></p>
        {%endfor%}
        <h3>Add New Book</h3>
        <form action="/add_book/{{v_auth.id}}" method="post">
        {% csrf_token %}
            <select name="book_id">
                <option value='-1'> Add Book</option>
                {%for b in not_book.all%}
                <option value="{{b.id}}">{{b.title}}</option>
                {%endfor%}
            </select>
            <button type="submit">Add</button>
        </form>
        <p><a href="/author_home">Return to Add Author</a></p>
    </div>
</body>
</html>